<%= error_messages_for 'comments' %>

<!--[form:comments]-->
<p><label for="comments_from">From</label><br/>
<%= text_field 'comments', 'from'  %></p>

<p><label for="comments_body">Body</label><br/>
<%= text_area 'comments', 'body'  %></p>

<p><label for="comments_date">Date</label><br/>
<%= text_field 'comments', 'date'  %></p>

<p><label for="comments_ip">Ip</label><br/>
<%= text_field 'comments', 'ip'  %></p>
<!--[eoform:comments]-->

