<% for column in Comments.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @comments.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @comments %> |
<%= link_to 'Back', :action => 'list' %>
