*{
	padding:0;
	margin:0;
}

ul,li{
	list-style:none;
}

#layerslist{
	height:60px;
	width:220px;
	overflow:auto;
	float:left;
	position:relative;
}
#imginfo{
	height:100px;
	overflow:auto;
}

#errorPane{
	width:239px;
	height:133px;
	padding-top:45px;
	background:url('/images/dialog.png') no-repeat;
	position:absolute;
	z-index:99999;
}
#errorLeft{
	width:64px;
	height:64px;
	margin:5px;
	position:relative;
	float:left;
}

#errorMain{
	width:155px;
	padding:5px;
	height:50px;
	position:relative;
	float:left;
	color:#ff9900;
}


.pane{
	width:239px;
	height:178px;
	background:url('/images/dialog.png') no-repeat;
	z-index:999;
	position:absolute;
	top:400px;
	left:400px;
}
.paneTitle{
	width:195px;;
	height:37px;
	position:relative;
	float:left;
	padding-left:4px;
	text-align:center;
	font-size:16pt;
	color:#333333;
	cursor:pointer;
	font-weight:600;
}

.paneControls{
	float:right;
	position:relative;
	width:30px;
	padding-left:3px;
	padding-top:10px;
	text-align:right;
	height:37px;
	
}

.paneOptions{
	float:left;
	width:235px;
	height:32px;
	background:url('/images/paneOptions.png') repeat-x;
	position:relative;
	margin-top:3px;
	padding-top:6px;
	margin-left:2px;
	color:#333;
}
.paneContent{
	margin-left:11px;
	position:relative;
	float:left;
	color:#333333;
	padding-top:10px;
}

#menu{
	width:100%;
	height:38px;
	background:url('../images/topBar.png') repeat-x;
	float:left;
	position:relative;
	z-index:900;
	overflow:visible;
}

#sideBar{
	width:157px;
	background:url('../images/sidebarBg.png') repeat-y;
	height:100%;
	float:left;
	position:relative;
	z-index:900;
	color:black;
	padding-top:15px;
}


.sideTitle{
	width:143px;
	height:21px;
	float:left;
	position:relative;
	background:url('../images/submenu.png') repeat-x;
	padding:5px;
	color:#ccc;
	font-size:18px;
	line-height:21px;
	text-align:center;
	
}

.sideCont{
	width:143px;
	float:left;
	padding:5px;
}

.filtOpt{
	width:144px;
	height:30px;
	line-height:30px;
	background:url('../images/filtOpt.png') no-repeat;
	text-align:center;
	font-size:18px;
	padding:5px;
	cursor:pointer;
	color:#666666;
	background-position:-154px 0px;
}

.filtOpt:hover{
	color:#000;
}

.sMenu{
		float:left;
}
.sMenu:hover div.filtDetails{
	display:block;
}

.filtDetails{
	background:#cccccc;
	font-size:12px;
	width:142px;
	padding:5px;
	display:none;
	z-index:999;
}

#arrowUp{
	height:22px;
	width:20px;
	background:url('../images/arrows.png')  no-repeat #333;
	cursor:pointer;
	margin: 0 auto;
}

#arrowUp:hover{
	background-position:-20px 0px;
}

#arrowDown{
	height:22px;
	width:20px;
	background:url('../images/arrows.png')no-repeat #333;
	background-position:0px -23px;
	cursor:pointer;
	margin:0 auto;
}

#arrowDown:hover{
	background-position:-20px -23px;
}

.arrowCont{
width:143px;
height:21px;
background:#333333;
display:block;
text-align:center;
}






















#menuMain{
	float:right;
	position:relative;
	width:300px;
	height:45px;
	padding:3px;
	padding-top:6px;
	font-family:Helvetica;
	font-size:15pt;
	color: #666666;
}

#menuMain a{
	text-decoration:none;
	float:left;
	position:relative;
	padding-left:5px;
	color:#666666;
}

#menuMain a:hover{
	text-decoration:none;
	color:#333333;
}
#workspace{
	width:100%;
	height:100%;
	position:relative;
	float:left;
}

#menuDetails, #flattenMenu{
	position:relative;
	float:left;
	height:38px;
	background:url('/images/dMenu.png') repeat-x;
	width:300px;
	overflow:visible;
}


#track{
	width:100px;
	height:22px;
	background:url('/images/track.png') repeat-x;
	position:relative;
	float:left;
}
#handle{
	width:19px;
	height:19px;
}

.item{
	width:196px;
	height:26px;
	padding:2px;
	float:left;
	position:relative;
	background:url('/images/item.png') no-repeat;
	color:#666666;
	cursor:pointer;
}

.item:hover, .itemFocused{
	background-position:-200px 0px;
	color:#333333;
}


.loading{
	background:url('/images/tran.png');
	position:absolute;
	top:0px;
	left:0px;
	z-index:9999;
	
}

.layer{
	position:absolute;
	z-index:900;
	border:0px;
	border:2px solid #999999;
	cursor:move;
	overflow:hidden;
}
.layer_active{
	border:2px solid #333333;
	z-index:900;
	cursor:move;
}

.tab{
	width:87px;
	height:28px;
	float:left;
	position:relative;
	margin-top:12px;
	padding:3px;
	background:url('/images/tabbg.png') no-repeat;
	color:#666666;
	font-size:15pt;
	cursor:pointer;
	text-align:center;
}

.tab:hover,.tabFocused{
	background-position: -94px 0px;
	color:#333333;
}


.resize{
	position:absolute;
	bottom:0px;
	right:0px;
	height:15px;
	width:15px;
	cursor:se-resize;
	z-index:900;
}

.titl{
	color:#99cc66;
	font-weight:bold;
}
.org{
	position:relative;
	float:left;
}

#cpicker{
	width:35px;
	height:35px;	
	float:left;
	position:relative;
	margin-left:10px;
	margin-top:0px;
	background-color:#000000;
	border:1px solid #ffffff;
	cursor:pointer;
}

.mask{
	position:absolute;
	z-index:999999;
}

#toolPane img{
	cursor:pointer;
}

#welcome{
	width:392px;
	height:233px;
	background:url('/images/welcomeDiv.png') no-repeat;
	padding:5px;
	padding-top:42px;
	text-align:center;
	position:absolute;
}

.track{
	height:15px;
	background:url('../images/track.png') repeat-x;
	float:left;
	min-width:150px;
}

.handle{
	height:15px;
	width:15px;
	background:url('../images/handle.png') no-repeat;
	float:left;
	cursor:pointer;
}
.info{
	height:15px;
	float:left;
	margin-right:4px;
	position:relative;
}

#filtDWrap{
	width:429px;
	height:230px;
	position:absolute;
	top:160px;
	left:152px;
	z-index:9999;
}
#filterDetails{
	width:429px;
	height:230px;
	padding:10px;
	background:url('../images/details.png') no-repeat;
	color:#333333;
	z-index:9999;
}

#previewOpt{
	width:260px;
	float:left;
	position:relative;
	margin-right:4px;
}
#previewImg{
	width:100px;
	height:100px;
	float:left;
	position:relative;
}
.hDiv{
	position:relative;
	display:block;
	height:30px;
}
