<li onclick="recrio.ui.showDig('new','New')">New</li>
<li onclick="recrio.ui.showDig('open','Open')">Open</li>
<li onclick="recrio.ui.showDig('upload_form','Upload')">Upload</li>
<li onclick="recrio.ui.showDig('saveForm','Save')">Save</li>