<form>
Select layer type:<br/>
<select name="layerType">
<option value="text">Text</option>
<option value="image">Image</option>
</select>
<input class="button" type="button" onclick="recrio.newLayer(this);" value="Add"/>
</form>