<form id="dform" action="" method="GET">
Url:<input type="text" id="url" style="width:130px;"><br/>
<input class="button" type="button" value="Open" onclick="recrio.ui.fadeEl('dialog');recrio.addImg($('url').getValue())"/><input   class="button"  onclick="recrio.ui.fadeEl('dialog')" type="button" value="Close"/>
</form>