<h2>What is Recrio?</h2>
<p>Currently Recrio is a free web based image editor. While it does not offer all the features of a program like Adobe Photoshop, it allows you to do resize,crop, add text and filters to your images.
</p>
<h2>Who's behind it?</h2><p>
Recrio is currently being developed solely by <a href="http://alvya.com">Adrian Wisernig</a>. It's built with <a href="http://rubyonrails.org">Ruby On Rails</a>, using the <a href="http://mootools.net">MooTools</a> javascript library, <a href="http://imagemagick.org">ImageMagick</a> for the image creation and hosted by <a href="http://slicehost.com">SliceHost</a>.
It also uses the handly little plugin <a href="http://w00fz.altervista.org/mooRainbow/">MooRainbow</a>.
</p>
<h2>What about the future?</h2>
<p>In the future, I hope to add more features, improve usability and make Recrio a worthwhile alternative to desktop image editing.</p>