<form action="/site/authenticate" method="POST">
	Username<input type="text" name="user"/><br/>
	Password<input type="password" name="password"/><br/>
	<input type="submit" class="button" value="Submit"/>
</form>
